<a href="https://colab.research.google.com/github/kasinathraghavendra/Employeedetails/blob/main/Tandemloop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# problem 1
class Manipultations :
    def _init_(self,a,b) :
        self.a = a
        self.b = b

    def add(self,a,b) :
        print(a+b)
    def sub(self,a,b) :
        print(a-b)
    def multiply(self,a,b) :
        print(a*b)
    def divided(self,a,b) :
        print(a/b)

a = int(input())
b=int(input())
obj_1 = Manipultations ()
obj_1.add(a,b)
obj_1.sub(a,b)
obj_1.multiply(a,b)
obj_1.divided(a,b)

5
4
9
1
20
1.25

In [2]:
#problem2,3

a=int(input())

s=[]
for i in range(0,a+1) :
    if i%2 !=0 :

       s.append(i)

for i in s :
     print(i , end=",")

5
1,3,5,

In [3]:
#Get the total count of number listed in the dictionary which is multiple of [1,2,3,4,5,6,7,8,9]
#  (examples)
 # input: [1,2,8,9,12,46,76,82,15,20,30]
#  Output:
   # {1: 11, 2: 8, 3: 4, 4: 4, 5: 3, 6: 2, 7: 0, 8: 1, 9: 1}
a= [1,2,8,9,12,46,76,82,15,20,30]
s = dict()
for i in range (1,10) :
    k=0
    for j in a :
        if j%i == 0 :
           k+=1

    s[i] = k

print(s)

{1: 11, 2: 8, 3: 4, 4: 4, 5: 3, 6: 2, 7: 0, 8: 1, 9: 1}